<section id="PersonalLeader" class="uk-background-primary uk-light">
  <div class="uk-container">
    <div class="leader-height uk-width-1-1 uk-inline">
      <div class="uk-position-center-left">
        <div class="bg-text">
          <p>&nbsp;&nbsp;strategy &amp;<br>
          design<br>
          progress.</p>
        </div>
        <div class="leader-text">
          <p class="leader-meta uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Something I said...</p>
          <h1 class="leader-heading uk-heading-large uk-margin-remove-top">
            Hello. I'm<br>
            Robert McCormack.<br>
            I 
            <a href="" class="typewrite uk-link-reset" data-period="2000" data-type='[ "am Creative.", "Love Design.", "Love to Develop." ]'>
              <span class="wrap"></span>
            </a>
          </h1>
          <a href="#" class="leader-link uk-text-uppercase uk-text-bold uk-button uk-button-text">Read more about me <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>