<section id="Message" class="uk-section uk-background-default">
  <div class="uk-container">
    <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Capabilities</p>
    <h2 class="uk-h1 uk-margin-remove">Creative Studio with<br>art & technologies</h2>
  </div>
</section>