<div class="uk-container">
  <div class="footer-main uk-padding uk-padding-remove-horizontal">
    <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
      <div>
        <h4 class="site-logo uk-text-emphasis uk-link-reset uk-text-bold uk-margin-remove">
          web<br>
          designer<br>
          developer
        </h4>
        <p class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">robmccormack89</p>
      </div>
      <div>
        <h3 class="uk-h5">Rotterdam</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Ohio Digital Media LTD.</li>
          <li>Graaf Florisstraat 22A,</li>
          <li>3021 CH Rotterdam</li>
        </ul>
        <h3 class="uk-h5">Barcelona</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Ohio Digital LTD.</li>
          <li>365 Gran Via de Corts</li>
          <li>Catalanes, BA 08015</li>
        </ul>
      </div>
      <div>
        <h3 class="uk-h5">Work inquiries</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Interested in working with us?</li>
          <li><a href="#" class="uk-button uk-button-text uk-text-lowercase">jobs@robertmccormack.com</a></li>
        </ul>
        <h3 class="uk-h5">Career</h3>
        <li>Looking for a job opportunity?</li>
        <li><a href="#" class="uk-button uk-button-text uk-text-capitalize">See open positions <i class="fas fa-arrow-right fa-sm"></i></a></li>
      </div>
      <div>
        <h3 class="uk-h5">Sign up for our newsletter</h3>
      </div>
    </div>
  </div>
  <hr class="uk-margin-medium-bottom uk-margin-large-top">
  <div class="footer-bottom">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="uk-text-small">© 2021 <span class="uk-text-bold uk-text-emphasis">{{site.title}}</span>. Made with passion by  <span class="uk-text-bold uk-text-emphasis">{{author.name}}</span></div>
      <div class="uk-text-right@m">
        <a href="#" class="uk-button uk-button-text uk-text-capitalize">Privacy & Cookie Policy</a> | <a href="#" class="uk-button uk-button-text uk-text-capitalize">Terms of Service</a>
      </div>
    </div>
  </div>
</div>