<style>
  /* footer */
  .site-footer .uk-subnav>*>:first-child {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .site-footer .uk-subnav>* {
    padding-left: 30px;
  }
</style>
<footer id="SiteFooter" class="site-footer uk-section uk-section-small uk-section-muted">
  <div class="uk-container uk-text-center">
    <p>© {{ 'now' | date('Y') }} {{site.title}}. All Rights Reserved.</p>
  </div>
</footer>