<header>
  <div class="uk-container">
    <nav class="uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">{{ SiteTitle }}</a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="/">Homepage</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
