<!-- <meta name=”robots” content=”noindex, nofollow”> -->
<title>META TITLE OF YOUR POST OR PAGE</title>
<meta name="description" content="This is meta description Sample. We can add up to 158.">
<link rel="canonical" href="PERMALINK" />
<meta property="og:type" content="article" />
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE" />
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" />
<meta property="og:image" content="LINK TO THE IMAGE FILE" />
<meta property="og:url" content="PERMALINK" />
<meta property="og:site_name" content="SITE NAME" />