{% extends "base.twig" %}

{% block content %}
  <div class="uk-section uk-container" data-template="404.twig">
    <div class="uk-grid-large uk-grid" uk-grid="">
      <section class="left-section uk-width-2-3@m uk-first-column">
        <article class="uk-article">
          <h1 class="uk-article-title uk-text-bold">Nothing here..</h1>
          <p >Oops, there is nothing to be found here.</p>
          <a href="/" class="uk-button uk-button-small uk-button-default">Back to Homepage</a>
        </article>
      </section>
      <aside class="uk-width-1-3@m">
        <div class="uk-tile uk-tile-small uk-tile-muted theme-border">
          The <span class="uk-text-italic">aside</span> tag defines some content aside from the content it is placed in. The aside content should be indirectly related to the surrounding content.
        </div>
      </aside>
    </div>
  </div>
{% endblock %}