{% extends "_project_cover_bottom.twig" %}

{% block single_cover %}
  <section id="MainSingleCover" class="project-cover uk-background-cover uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-section uk-width-1-1 uk-background-pink">
      {% block single_cover_content %}
        {{parent()}}
      {% endblock %}
    </div>
  </section>
{% endblock %}