<section id="MainSingleCover" class="project-cover uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-light">
  <div class="uk-section uk-width-1-1" style="{{ (single.style.color) ? 'background-color: ' ~ single.style.color ~ ';' : 'background-color: #17161a;' }}">
    <div class="uk-container">
      <div class="single-cover-details uk-width-1-1">
        
        {% include (single.taxonomies.technologies or single.date_time) ? '_post_meta.twig' ignore missing  %}
        
        <h1 class="uk-heading-large uk-margin-remove-top uk-width-3-5@m">{{single.title}}.</h1>
        
        <p class="uk-text-meta uk-margin-small-top uk-width-3-5@m">{{single.excerpt|raw}}</p>
        
      </div>
    </div>
  </div>
</section>