{% if single.project_goal %}
  <hr>
{% endif %}
<div class="project-meta-grid uk-child-width-auto" uk-grid>
  {% for meta in single.project_metas %}
    <div>
      <strong>{{meta.title}}</strong>
      <p class="uk-text-small uk-margin-small-top">
        {{meta.subs|join(',<br> ')|raw}}
      </p>
    </div>
  {% endfor %}
  {% if single.author %}
    <div>
      <strong>Author</strong>
      <p class="uk-text-small uk-margin-small-top">
        {{single.author}}
      </p>
    </div>
  {% endif %}
</div>