<section id="MainSingleCover" class="project-cover uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-light">
  <div class="uk-background-pink uk-section uk-width-1-1" style="{{ (single.style.color) ? 'background-color: ' ~ single.style.color ~ ';' : 'background-color: #17161a;' }}">
    <div class="uk-container">
      <div class="single-cover-details uk-width-1-1">
        <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
          <div>
            {% if single.taxonomies.technologies or post.date_time %}
              {% include '_project_meta.twig' %}
            {% endif %}
            <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
            {% if single.excerpt %}
              {% include '_project_excerpt.twig' %}
            {% endif %}
          </div>
          <div>
            {% if single.project_goal %}
              {% include '_project_goal.twig' %}
            {% endif %}
            {% if single.project_metas or single.author %}
              {% include '_project_metas.twig' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>