{# 

  Blog post cover with a muted/light colour background

  This fits behind the sticky header

  This Blog post header only gets processed when single.style.type exists & is set to 'light'
  
  uk-light class is NOT added in this case, uk-dark styles apply & switch with dark/light button clicks

  Requires inline css to be added, modifying the uk-background-pink bg for non uk-light styles
  
  Defaults to the normal pink bg if single.style.color doesn't exist
  
  This cover is designed for having a muted/light colour background

#}
<section id="MainSingleCover" class="uk-background-cover uk-flex uk-flex-center uk-flex-middle">
  <div class="uk-section uk-width-1-1 uk-background-pink">
    <div class="uk-container uk-container-medium">
      <div class="single-cover-details uk-width-1-1">
        
        {% include (single.taxonomies.categories or single.read_time) ? '_post_meta.twig' ignore missing  %}
        
        <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
        
        {% include (single.author or single.date_time) ? '_post_meta_sub.twig' ignore missing  %}
        
        {% include (single.featured_img.frame_src and (single.format == 'video' or single.format == 'audio')) ? '_post_featured_frame.twig' ignore missing  %}
        
      </div>
    </div>
  </div>
</section>