<div class="uk-margin-medium">
  <div class="uk-child-width-auto" uk-grid>
    <div class="uk-text-emphasis">
      Author<br>
      <strong>{{single.author}}</strong>
    </div>
    <div class="uk-text-emphasis">
      Published<br>
      <strong>{{single.date_time|date("F j, Y")}}</strong>
    </div>
    <div></div>
  </div>
</div>