{% extends '_post_header.twig' %}

{% block single_header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent; top: 200">
      {% include 'main-navbar.twig' %}
    </div>
  </header>
{% endblock %}  