{# 

  Blog post header for a dark/primary bgs

#}
<header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
  <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent uk-light; top: 200">
    {% include 'main-navbar.twig' %}
  </div>
</header>