{% extends 'project.twig' %}

{% block styles %}
  {{ parent() }}
  <style>
    .footer-project {
      margin-top: 20px!important;
    }
  </style>
  {% if single.style.type == 'dark' %}
    <!-- single project: bottom dark styles -->
    <style>
      blockquote {
        border-left: 5px solid #fff;
      }
    </style>
  {% endif %}
  {% if single.style.type == 'light' %}
    <!-- single project: bottom light styles -->
    <style>
      blockquote, .uk-hr, hr {
        border-color: #17161a;
      }
      .uk-light blockquote  {
        border-color: {{ (single.style.color) ? single.style.color : '#ffecf3' }};;
      }
      .uk-light .uk-background-muted-light {
        background-color: #1e1c22;
      }
    </style>
  {% endif %}
{% endblock %}

{% block single_cover %}
  {% include single.style.type ? '_project_cover_bottom_' ~ single.style.type ~ '.twig' : '_project_cover_bottom.twig' %}
{% endblock %}

{% block _content %}
  <div class="project-gallery">
    {% block _project_gallery %}
      {% for img in single.gallery %}
        <figure class="gallery-img">
          <img class="uk-border-rounded" data-src="{{img.src|resize(1250)}}" data-width data-height alt="{{img.alt}}" uk-img>
        </figure>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}