{% extends 'project.twig' %}

{% block styles %}
  {{ parent() }}
  <style>
    .footer-project {
      margin-top: 20px!important;
    }
  </style>
{% endblock %}

{% block single_cover %}
  {% include single.style.type ? '_project_cover_bottom_' ~ single.style.type ~ '.twig' : '_project_cover_bottom.twig' %}
{% endblock %}

{% block _content %}
  <div class="project-gallery">
    {% block _project_gallery %}
      {% for img in single.gallery %}
        <figure class="gallery-img">
          <img class="uk-border-rounded" data-src="{{img.src|resize(1250)}}" data-width data-height alt="{{img.alt}}" uk-img>
        </figure>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}