<section id="About" class="uk-section uk-background-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div>
        <p class="uk-text-bold uk-text-uppercase">More about me</p>
        <hr>
        <h2 class="uk-margin-remove-top uk-h1">I work in the fields of UI/UX design, photography and art direction.</h2>
      </div>
      <div>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#" class="uk-text-uppercase uk-text-bold uk-button uk-button-text">Learn more <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>