<section id="CTA" class="uk-background-default">
  <div class="uk-grid-collapse" uk-grid>
    <div class="uk-background-cover uk-height-large uk-width-3-5@m" style="background-image: url(https://source.unsplash.com/1141x800/?business,handshake);"></div>
    <div class="uk-background-primary uk-light uk-width-2-5@m">
      <div class="uk-padding-large uk-width-3-4@m">
        <h3 class="uk-h1">We believe that our works can contribute to a better world.</h3>
        <ul class="uk-margin-medium-top" uk-accordion="collapsible: false">
          <li>
            <a class="uk-accordion-title uk-text-bold" href="#">Website & Mobile App Design</a>
            <div class="uk-accordion-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title uk-text-bold" href="#">Motion Graphics & Animation</a>
            <div class="uk-accordion-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title uk-text-bold" href="#">User Experience</a>
            <div class="uk-accordion-content">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
          </li>
          <li>
            <a class="uk-accordion-title uk-text-bold" href="#">Marketing & Social Media Campaigns</a>
            <div class="uk-accordion-content">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>