<section id="Services" class="uk-background-muted">
  <div class="uk-section uk-container">
    <div class="uk-child-width-1-3@m uk-grid" uk-grid>
      <div class="services-item">
        <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
          <img src="https://source.unsplash.com/600x400/?computer,web,design" class="uk-border-rounded" alt="">
          <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
          <div class="uk-padding-small uk-position-bottom uk-light">
            <h3 class="uk-h4 uk-margin-small-bottom">Web Design</h3>
            <p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="services-item">
        <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
          <img src="https://source.unsplash.com/600x400/?mobile" class="uk-border-rounded" alt="">
          <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
          <div class="uk-padding-small uk-position-bottom uk-light">
            <h3 class="uk-h4 uk-margin-small-bottom">App Development</h3>
            <p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="services-item">
        <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
          <img src="https://source.unsplash.com/600x400/?business" class="uk-border-rounded" alt="">
          <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
          <div class="uk-padding-small uk-position-bottom uk-light">
            <h3 class="uk-h4 uk-margin-small-bottom">Search Engine Optimzation</h3>
            <p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="services-item uk-width-1-2@m">
        <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
          <img src="https://source.unsplash.com/630x300/?wordpress" class="uk-border-rounded" alt="">
          <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
          <div class="uk-padding-small uk-position-bottom uk-light">
            <h3 class="uk-h4 uk-margin-small-bottom">Custom Wordpress Themes & Plugins</h3>
            <p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="services-item uk-width-1-2@m">
        <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
          <img src="https://source.unsplash.com/630x300/?code" class="uk-border-rounded" alt="">
          <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
          <div class="uk-padding-small uk-position-bottom uk-light">
            <h3 class="uk-h4 uk-margin-small-bottom">Performance Optimization & Accessibility Testing</h3>
            <p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>