<!-- prism stylesheet via prismjs themes -->
<link href="/public/css/prism-atom-dark.css" rel="stylesheet" />
<!-- prism mods -->
<style>
  /* pre/code element base styling */
  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #ffffff0a;
  }
  pre {
    border: none;
    border-radius: 3px;
    color: #666;
    font: inherit;
    padding: 10px;
  }
  /* line numbers */
  pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
  }
  pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
  }
  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
  }
  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }
  /* copy to clipboard buttons */
  .copy-to-clipboard-button {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    overflow: visible;
    vertical-align: middle;
    float: right;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    font: inherit;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 24px;
    margin: 0;
    padding: 0 12px;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
  }
  .copy-to-clipboard-button:not(:disabled) {
    cursor: pointer;
  }
  .uk-light .copy-to-clipboard-button {
    border-color: hsla(0,0%,100%,.7);
    color: #fff;
  }
  .copy-to-clipboard-button:hover {
    text-decoration: none;
  }
  .uk-light .copy-to-clipboard-button:focus, .uk-light .copy-to-clipboard-button:hover {
    border-color: #fff;
  }
</style>

<h3 class="uk-h4">HTML</h3>
<section class="language-html">
  <pre class="line-numbers">
    <code class="language-html">
      &lt;div class="topic-card"&gt;
        &lt;img src="#" alt="" class="topic-image"&gt;
        &lt;h2 class="h3 topic-name"&gt;
          &lt;a href=""&gt;Getting Started&lt;/a&gt;
        &lt;/h2&gt;
        &lt;p class="topic-description"&gt;
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        &lt;/p&gt;
      &lt;/div&gt;
    </code>
  </pre>
</section>

<h3 class="uk-h4">Twig</h3>
<section class="language-twig">
  {% verbatim %}
    <pre class="line-numbers">
      <code class="language-twig">
        {% for user in users %}
          {{ user.name }}
        {% else %}
          No users have been found.
        {% endfor %}
      </code>
    </pre>
  {% endverbatim %}
</section>

<h3 class="uk-h4">CSS</h3>
<section class="language-css">
  <pre class="line-numbers">
    <code class="language-css">
      .comment-wrap {
        background: #fff;
        padding: 1.5em 2em;
        box-sizing: border-box;
        margin-bottom: 1.5em;
      }
    </code>
  </pre>
</section>

<h3 class="uk-h4">JavaScript</h3>
<section class="language-javascript">
  <pre class="line-numbers">
    <code class="language-javascript">
      var x = 5;
      var y = 2;
      var z = x + y;document.
      getElementById("demo")
      .innerHTML = z;
    </code>
  </pre>
</section>