<footer class="uk-section uk-section-default uk-section-small">
  <div class="uk-container">
    <p class="uk-text-small uk-text-center">© Copyright {{date_year}} - {{ SiteTitle }}</p>
  </div>
</footer>