{% extends "archive.twig" %}

{% block archive_content %}
  {% if archive.posts %}
    <!-- events toolbar -->
    <nav class="archive-toolbar uk-grid uk-grid-match uk-flex uk-flex-middle uk-grid-collapse" uk-grid>
      <div class="events-breads uk-width-expand">
        {% include 'breads.twig' %}
      </div>
      <div class="results-count uk-width-auto">
        <p class="uk-text-bold uk-text-emphasis uk-text-small">
          {% if archive.pagination.results %}
            {{archive.pagination.results}}
          {% endif %}
        </p>
      </div>
    </nav>
  {% endif %}
  {{parent()}}
{% endblock %}