<div id="TopFooter" class="footer-project uk-section uk-section-large uk-background-muted uk-background-muted-light">
  <div class="uk-container">
    <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Let’s collaborate</p>
    <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
      <div class="uk-width-expand">
        <h3 class="uk-heading-medium uk-margin-remove-top">Got a project?</h3>
      </div>
      <div class="uk-width-auto">
        <a href="/contact" class="uk-button uk-button-secondary uk-border-rounded uk-button-small uk-text-capitalize">Get in Touch <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-width-1-2@m">
      <p>If you have an idea for a new project & need some more information about where to get started, why not drop me a message?</p>
    </div>
  </div>
</div>