<style>
  .post-content blockquote {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 2.5rem 0;
    padding: 2rem;
    position: relative;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .post-content blockquote footer {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
  }
  .post-content cite {
    font-style: normal;
    font-weight: bold;
  }
  .post-content blockquote::before {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTEgOS4yNzVjMCA1LjE0MS0zLjg5MiAxMC41MTktMTAgMTEuNzI1bC0uOTg0LTIuMTI2YzIuMjE1LS44MzUgNC4xNjMtMy43NDIgNC4zOC01Ljc0Ni0yLjQ5MS0uMzkyLTQuMzk2LTIuNTQ3LTQuMzk2LTUuMTQ5IDAtMy4xODIgMi41ODQtNC45NzkgNS4xOTktNC45NzkgMy4wMTUgMCA1LjgwMSAyLjMwNSA1LjgwMSA2LjI3NXptMTMgMGMwIDUuMTQxLTMuODkyIDEwLjUxOS0xMCAxMS43MjVsLS45ODQtMi4xMjZjMi4yMTUtLjgzNSA0LjE2My0zLjc0MiA0LjM4LTUuNzQ2LTIuNDkxLS4zOTItNC4zOTYtMi41NDctNC4zOTYtNS4xNDkgMC0zLjE4MiAyLjU4NC00Ljk3OSA1LjE5OS00Ljk3OSAzLjAxNSAwIDUuODAxIDIuMzA1IDUuODAxIDYuMjc1eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 180px;
    opacity: .06;
    width: 180px;
    height: 180px;
    position: absolute;
    left: -20px;
    top: -40px;
    z-index: -1;
  }
</style>
<blockquote class="uk-background-primary" cite="#">
  <p class="uk-margin-remove">We still do not know one thousandth of one percent of what nature has revealed to us.</p>
  <footer>
    Someone famous in <cite><a href="#">Source Title</a></cite>
  </footer>
</blockquote>
<div class="quote-link uk-text-left">
  <a href="#">
    <i class="fab fa-twitter"></i> <span>Tweet this</span>
  </a>
</div>