<style>
  .gallery-card.uk-grid-small {
    margin-left: -10px;
  }
  .gallery-card.uk-grid-small>* {
    padding-left: 10px;
  }
  .gallery-card.uk-grid-small>.uk-grid-margin {
    margin-top: 10px;
  }
</style>

<figure class="gallery-card uk-grid-small" uk-grid uk-lightbox="animation: slide">
  <div class="gallery-image uk-width-1-3">
    <a class="uk-inline" href="/public/img/stock.jpg" data-alt="" data-caption="Caption 1">
      <img 
      data-src="https://source.unsplash.com/720x1080/?nature" 
      width="720" height="1080" 
      alt="" caption="Caption 1" 
      class="uk-border-rounded-top-left" 
      data-srcset="
      https://source.unsplash.com/600x900/?nature 600w, 
      https://source.unsplash.com/720x1080/?nature 720w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-3">
    <a class="uk-inline" href="/public/img/stock2.jpg" data-alt="" data-caption="Caption 2">
      <img 
      data-src="https://source.unsplash.com/720x1080/?water" 
      width="720" height="1080" 
      alt="" caption="Caption 2" 
      data-srcset="
      https://source.unsplash.com/600x900/?water 600w, 
      https://source.unsplash.com/720x1080/?water 720w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-3">
    <a class="uk-inline" href="/public/img/stock3.jpg" data-alt="" data-caption="Caption 3">
      <img 
      data-src="https://source.unsplash.com/720x1080/?cities" 
      width="720" height="1080" 
      alt="" caption="Caption 3" 
      class="uk-border-rounded-top-right" 
      data-srcset="
      https://source.unsplash.com/600x900/?cities 600w, 
      https://source.unsplash.com/720x1080/?cities 720w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-2">
    <a class="uk-inline" href="/public/img/stock4.jpg" data-alt="" data-caption="Caption 4">
      <img 
      data-src="https://source.unsplash.com/1920x1280/?people" 
      width="1920" height="1280" 
      alt="" caption="Caption 4" 
      data-srcset="https://source.unsplash.com/600x400/?people 600w, 
      https://source.unsplash.com/1000x667/?people 1000w, 
      https://source.unsplash.com/1600x1067/?people 1600w, 
      https://source.unsplash.com/1920x1280/?people 1920w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-2">
    <a class="uk-inline" href="/public/img/stock5.jpg" data-alt="" data-caption="Caption 5">
      <img 
      data-src="https://source.unsplash.com/1920x1280/?fruit" 
      width="1920" height="1280" 
      alt="" caption="Caption 5" 
      data-srcset="https://source.unsplash.com/600x400/?fruit 600w, 
      https://source.unsplash.com/1000x667/?fruit 1000w, 
      https://source.unsplash.com/1600x1067/?fruit 1600w, 
      https://source.unsplash.com/1920x1280/?fruit 1920w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-2">
    <a class="uk-inline" href="/public/img/stock6.jpg" data-alt="" data-caption="Caption 6">
      <img 
      data-src="https://source.unsplash.com/1920x1280/?technology" 
      width="1920" height="1280" 
      alt="" caption="Caption 6" 
      class="uk-border-rounded-bottom-left" 
      data-srcset="https://source.unsplash.com/600x400/?technology 600w, 
      https://source.unsplash.com/1000x667/?technology 1000w, 
      https://source.unsplash.com/1600x1067/?technology 1600w, 
      https://source.unsplash.com/1920x1280/?technology 1920w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
  <div class="gallery-image uk-width-1-2">
    <a class="uk-inline" href="/public/img/stock7.jpg" data-alt="" data-caption="Caption 7">
      <img 
      data-src="https://source.unsplash.com/1920x1280/?shopping" 
      width="1920" height="1280" 
      alt="" caption="Caption 7" 
      class="uk-border-rounded-bottom-right" 
      data-srcset="https://source.unsplash.com/600x400/?shopping 600w, 
      https://source.unsplash.com/1000x667/?shopping 1000w, 
      https://source.unsplash.com/1600x1067/?shopping 1600w, 
      https://source.unsplash.com/1920x1280/?shopping 1920w" 
      sizes="(min-width: 720px) 720px" uk-img>
    </a>
  </div>
</figure>