<div class="uk-container-break">
  <div class="uk-container">
    <figure class="uk-margin-bottom">
      <img
        src="https://picsum.photos/1920/1200?random=2"
        class="uk-border-rounded uk-width-1-1" 
        alt="" 
        data-width 
        data-height 
        srcset="
        https://picsum.photos/600/400?random=2 600w, 
        https://picsum.photos/1000/600?random=2 1000w, 
        https://picsum.photos/1600/900?random=2 1600w, 
        https://picsum.photos/2400/1600?random=2 2400w" 
        sizes="(min-width: 720px) 720px"
      >
      <figcaption class="uk-text-center uk-margin-vsmall-top uk-text-emphasis">Caption</figcaption>
    </figure>
  </div>
</div>

<div class="uk-container-break">
  <div class="uk-container uk-container-expand">
    <figure>
      <img
        src="https://picsum.photos/1920/1200?random=3"
        class="uk-border-rounded uk-width-1-1" 
        alt="" 
        data-width 
        data-height 
        srcset="
        https://picsum.photos/600/300?random=3 600w, 
        https://picsum.photos/1000/500?random=3 1000w, 
        https://picsum.photos/1600/800?random=3 1600w, 
        https://picsum.photos/2400/1200?random=3 2400w" 
        sizes="(min-width: 720px) 720px"
      >
      <figcaption class="uk-text-center uk-margin-vsmall-top uk-text-emphasis">Caption</figcaption>
    </figure>
  </div>
</div>