<h3 class="uk-heading-bullet uk-h4">Divider List</h3>
<ul class="uk-list uk-list-divider">
  <li>Nam purus magna.</li>
  <li>Fusce iaculis elit ut elit.</li>
  <li>Nunc a sapien urna..</li>
  <li>Ut mattis at purus in efficitur.</li>
  <li>Condimentum, elit mauris.</li>
  <li>Nulla odio dui, iaculis quis turpis in.</li>
  <li>Donec faucibus sagittis porta.</li>
</ul>
<h3 class="uk-heading-bullet uk-h4">Striped List</h3>
<ul class="uk-list uk-list-striped">
  <li>Nam purus magna.</li>
  <li>Fusce iaculis elit ut elit.</li>
  <li>Nunc a sapien urna..</li>
  <li>Ut mattis at purus in efficitur.</li>
  <li>Condimentum, elit mauris.</li>
  <li>Nulla odio dui, iaculis quis turpis in.</li>
  <li>Donec faucibus sagittis porta.</li>
</ul>
<h3 class="uk-heading-bullet uk-h4">Bullet List</h3>
<ul class="uk-list uk-list-bullet">
  <li>Nam purus magna.</li>
  <li>Fusce iaculis elit ut elit.</li>
  <li>Nunc a sapien urna..</li>
  <li>Ut mattis at purus in efficitur.</li>
  <li>Condimentum, elit mauris.</li>
  <li>Nulla odio dui, iaculis quis turpis in.</li>
  <li>Donec faucibus sagittis porta.</li>
</ul>
<h3 class="uk-heading-bullet uk-h4">Circle List</h3>
<ul class="uk-list uk-list-circle">
  <li>Nam purus magna.</li>
  <li>Fusce iaculis elit ut elit.</li>
  <li>Nunc a sapien urna..</li>
  <li>Ut mattis at purus in efficitur.</li>
  <li>Condimentum, elit mauris.</li>
  <li>Nulla odio dui, iaculis quis turpis in.</li>
  <li>Donec faucibus sagittis porta.</li>
</ul>