<div class="">
  <div class="uk-background-muted uk-border-rounded uk-box-shadow-medium">
    <img class="uk-border-rounded-top" data-src="https://picsum.photos/600/400?random=20" alt="" data-width data-height uk-img>
    <div class="uk-padding-small">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-text-bold uk-margin-remove uk-h4">Website developed for ThisCompany.ie</h3>
        </div>
        <div class="uk-width-auto">
          <span class="uk-label uk-text-bold">Wordpress</span>
        </div>
      </div>
      <!-- <div class="tease-meta uk-text-meta">
        <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
        <span class="visibility">Project</span>
      </div> -->
    </div>
  </div>
</div>