<figure class="twitter-card">
  <div class="twitter-tweet twitter-tweet-rendered" style="display: flex; max-width: 550px; width: 100%; margin-top: 10px; margin-bottom: 10px;">
    <iframe 
    id="twitter-widget-0" 
    scrolling="no" frameborder="0" 
    allowtransparency="true" 
    allowfullscreen="true" 
    style="position: static; visibility: visible; width: 550px; height: 690px; display: block; flex-grow: 1;" 
    title="Twitter Tweet"
    src="https://platform.twitter.com/embed/Tweet.html?creatorScreenName=gbjsolution&amp;dnt=false&amp;embedId=twitter-widget-0&amp;features=eyJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2hvcml6b25fdHdlZXRfZW1iZWRfOTU1NSI6eyJidWNrZXQiOiJodGUiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3R3ZWV0X2VtYmVkX2NsaWNrYWJpbGl0eV8xMjEwMiI6eyJidWNrZXQiOiJjb250cm9sIiwidmVyc2lvbiI6bnVsbH19&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=1371810100776697859&amp;lang=en&amp;origin=https%3A%2F%2Farun.gbjsolution.com%2Felements%2F&amp;sessionId=68d57d48b6eb7a6c5e70ab83c9e84ba8e231f49a&amp;siteScreenName=gbjsolution&amp;theme=light&amp;widgetsVersion=82e1070%3A1619632193066&amp;width=550px" 
    data-tweet-id="1371810100776697859"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</figure>