<figure class="video-embed">
  <div class="uk-cover-container uk-height-medium uk-width-1-1">
    <iframe 
    width="480" height="270" 
    src="https://www.youtube.com/embed/1La4QzGeaaQ?feature=oembed" 
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" 
    style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;"></iframe>
  </div>
  <figcaption class="uk-text-center uk-margin-vsmall-top uk-text-emphasis">YouTube Embed</figcaption>
</figure>

<figure class="video-embed">
  <div class="js-reframe" style="position: relative; width: 100%; padding-top: 56.25%;">
    <iframe width="480" height="270" src="https://www.youtube.com/embed/1La4QzGeaaQ?feature=oembed" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;"></iframe>
    </div>
  <figcaption class="uk-text-center uk-margin-vsmall-top uk-text-emphasis">YouTube Embed</figcaption>
</figure>

<figure class=video-embed"">
  <div class="js-reframe" style="position: relative; width: 100%; padding-top: 56.25%;">
    <iframe src="https://player.vimeo.com/video/54802209?app_id=122963" width="480" height="270" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""
      title="DYNAMIC NATURE" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;"></iframe>
    </div>
  <figcaption class="uk-text-center uk-margin-vsmall-top uk-text-emphasis">Vimeo Embed</figcaption>
</figure>