<div class="uk-container">
  <div class="footer-main uk-padding uk-padding-remove-horizontal">
    <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
      <div>
        <h4 class="site-logo uk-text-emphasis uk-link-reset uk-text-bold uk-margin-remove">
          web<br>
          designer<br>
          developer
        </h4>
        <p class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">robmccormack89</p>
        <p class="uk-text-small uk-margin-small-top uk-text-italic">"{{site.description}}"</p>
      </div>
      <div>
        <h3 class="uk-h5">Located in:</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Mullingar,</li>
          <li>Co. Westmeath,</li>
          <li>Ireland</li>
        </ul>
        <h3 class="uk-h5">Available:</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Monday – Friday</li>
          <li>9am to 5pm</li>
        </ul>
      </div>
      <div>
        <h3 class="uk-h5">General inquiries</h3>
        <ul class="uk-list uk-list-collapse">
          <li>Got a new project or an issue that needs fixing?</li>
          <li><a href="#" class="uk-button uk-button-text uk-text-lowercase">info@robertmccormack.com</a></li>
        </ul>
        <h3 class="uk-h5">Current customers</h3>
        <li>Current clients email me at</li>
        <li><a href="#" class="uk-button uk-button-text uk-text-lowercase">jobs@robertmccormack.com</a></li>
      </div>
      <div>
        <h3 class="uk-h5">Find me on</h3>
        <ul class="uk-grid-small uk-child-width-auto uk-text-small" uk-grid>
          <li><a href="#" class="uk-link-text"><i class="fab fa-github"></i> Github</a></li>
          <li><a href="#" class="uk-link-text"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="#" class="uk-link-text"><i class="fab fa-slack"></i> Slack</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="uk-margin-medium-bottom uk-margin-large-top">
  <div class="footer-bottom">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="uk-text-small">© 2021 <span class="uk-text-bold uk-text-emphasis">{{site.title}}</span>. Find out how this project was made on <a href="#" class="uk-text-bold uk-link-text">Github</a></div>
      <div class="uk-text-right@m">
        <a href="#" class="uk-button uk-button-text uk-text-capitalize">Privacy & Cookie Policy</a> | <a href="#" class="uk-button uk-button-text uk-text-capitalize">Terms of Service</a>
      </div>
    </div>
  </div>
</div>