{% extends "base.twig" %}

{% block content %}
  <div id="Single{{post.id}}" class="page-{{post.id}} page uk-section uk-container" data-template="page.twig">
    <div class="uk-grid-large uk-grid" uk-grid="">

      <section class="left-section uk-width-2-3@m uk-first-column">
        <article class="uk-article">

          <header class="article-header">
            <h1 class="uk-article-title">{{post.title}}</h1>
          </header>
          
          {% if page.status == 'draft' %}
            <p>
              <span class="uk-label uk-label-warning">This page is in Draft mode</span>
            </p>
          {% endif %}
          
          {% block page_content %}
            {% if post.content %}
              {% include post.content %}
            {% else %}
              Nothing to see here. Yet...
            {% endif %}
          {% endblock %}

        </article>
      </section>

      {% include 'sidebar.twig' %}

    </div>

  </div>
{% endblock %}

