// overflow fix
body,
html {
  max-width: 100%;
  overflow-x: hidden;
}
/* dropcap */
.uk-dropcap:first-letter, .uk-dropcap>p:first-of-type:first-letter {
  display: block;
  margin-right: 10px;
  margin-top: -10px;
  float: left;
  font-size: 4.8em;
  line-height: 1;
  margin-bottom: -2px;
}
// theme borders
.theme-border {
  border: 1px solid $global-border;
}
.theme-border-top {
  border-top: 1px solid $global-border;
}
.theme-border-right {
  border-right: 1px solid $global-border;
}
.theme-border-bottom {
  border-bottom: 1px solid $global-border;
}
.theme-border-left {
  border-left: 1px solid $global-border;
}
// utility classes
.pull-right-15 {
  margin-right: -15px;
}
.pull-up-2 {
  margin-top: -2px;
}