{% extends "single.twig" %}

{% block seo_meta %}
    <title>Designs & Testing Template</title>
{% endblock %}

{% block styles %}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- font candidate one -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <!-- font candidate two -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- font candidate three -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
  <!-- font/text settings -->
  <style>
    /* global font selection */
    html {
      font-family: 'Noto Sans JP', sans-serif;
      /* font-family: 'Open Sans', sans-serif; */
      /* font-family: 'Source Sans Pro', sans-serif; */
    }
    .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, 
    .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Noto Sans JP', sans-serif;
      /* font-family: 'Open Sans', sans-serif; */
      /* font-family: 'Source Sans Pro', sans-serif; */
    }
    .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
      font-family: 'Noto Sans JP', sans-serif;
      /* font-family: 'Open Sans', sans-serif; */
      /* font-family: 'Source Sans Pro', sans-serif; */
    }
    
    /* post-content font size */
    html .post-content {
      font-size: 17px;
    }
    /* post-content font line height */
    .post-content p {
      line-height: 1.65;
    }
    /* post-content font height margins */
    .post-content>* {
      margin-bottom: 3rem;
    }
    
    /* font colour, uk-light only */
    .uk-light {
      color: #f9f9fa;
    }
    
    /* font weight bold setting */
    .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, 
    .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
    .uk-text-bold, 
    .uk-label, 
    h1, h2, h3, h4, h5, h6, 
    strong, figcaption, a:not(.uk-link-reset) {
      font-weight: 700;
    }
    
    /* heading sizes */
    .post-content .uk-h1, .post-content h1 {
      font-size: 2.23125rem;
    }
    .post-content .uk-h2, .post-content h2 {
      font-size: 1.7rem;
    }
    .post-content .uk-h3, .post-content h3 {
      font-size: 1.5rem;
    }
    .post-content .uk-h4, .post-content h4 {
      font-size: 1.25rem;
    }
    .post-content .uk-h5, .post-content h5 {
      font-size: 1.125rem;
    }
    .post-content .uk-h5, .post-content h5 {
      font-size: 1rem;
    }
    @media (min-width: 960px) {
      .post-content .uk-h1, .post-content h1 {
        font-size: 3rem;
      }
      .post-content .uk-h2, .post-content h2 {
        font-size: 2.5rem;
      }
      .post-content .uk-h3, .post-content h3 {
        font-size: 2rem;
      }
      .post-content .uk-h4, vh4 {
        font-size: 1.5rem;
      }
      .post-content .uk-h5, .post-content h5 {
        font-size: 1.25rem;
      }
      .post-content .uk-h6, .post-content h6 {
        font-size: 1rem;
      }
    }

  </style>

  <!-- uikit mods -->
  <style>
    
    /* general uikit element modifications */
    .uk-container-xsmall {
      max-width: 700px;
    }
    .uk-section-primary {
      background: #1c4c7b;
    }
    .uk-button {
      font-weight: bold;
    }
    .uk-label {
      padding: 0 10px;
      line-height: 1.5;
      font-size: .875rem;
      color: #fff;
      border-radius: 2px;
      text-transform: capitalize;
    }

    *+[class*=uk-divider] {
      margin-top: 40px;
    }
    [class*=uk-divider] {
      margin-bottom: 40px;
    }
    
    /* uikit light modifications */
    .uk-light .uk-button-primary {
      background-color: #e6ff29;
      color: #111d33;
    }
    .uk-light .uk-button-primary:focus, .uk-light .uk-button-primary:hover {
      background-color: #e6ff29e6;
      color: #111d33;
    }
    .uk-light .uk-heading-bullet:before {
      border-left-color: hsl(67deg 100% 58%);
    }
    .uk-light .uk-input {
      background-color: hsl(0deg 0% 100% / 0%);
    }
    .uk-light .uk-input:focus {
      background-color: hsl(0deg 0% 100% / 4%);
      color: hsla(0,0%,100%,.7);
    }
    .uk-light .uk-label {
      background-color: #1e87f0;
      color: #fff;
    }

    /* new uikit classes/modifications */
    .uk-margin-vsmall-bottom {
      margin-bottom: 5px!important;
    } 
    .uk-margin-vsmall-top {
      margin-top: 5px;
    }
    .uk-border-rounded-top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .uk-border-rounded-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .uk-border-rounded-top-left {
      border-top-left-radius: 5px;
    }
    .uk-border-rounded-top-right {
      border-top-right-radius: 5px;
    }
    .uk-border-rounded-bottom-left {
      border-bottom-left-radius: 5px;
    }
    .uk-border-rounded-bottom-right {
      border-bottom-right-radius: 5px;
    }
    /* breaks the uikit container so we can use fullwidth/expanded containers within narrower containers */
    /* this requires a custom sass build for uikit to remove the .uk-container .uk-container styling in components/container.scss */
    .uk-container-break {
      width: 100vw!important;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
    
  </style>
  
  <!-- tease stuff -->
  <style>
    /* featured post star colour */
    .featured-star {
      color: #ffeb3b;
    }
    /* tease meta styles */
    .tease-meta>:not(:last-child)::after {
      content: "•";
      margin-left: 8px;
      position: absolute;
      display: inline-block;
      font-weight: 700;
    }
    .tease-meta>:not(:first-child) {
      margin-left: 18px;
    }
    /* image mobile mod */
    @media only screen and (max-width:959px) {
      .square-img-to-landscape-mobile {
        height: 180px;
        width: 100%;
        object-fit: cover;
      }
    }
  </style>

{% endblock %}

{% block header %}
  {# include 'header.twig' #}
{% endblock %}

{% block content %}
  <div id="TestArea">
    
    <section id="PersonalLeader" class="uk-section uk-section-large theme-border-bottom uk-position-relative">
      <div class="uk-container uk-container-large">
        <div class="uk-width-2-3@m">
          <div class="uk-position-top-left uk-padding-small" hidden>
            <a class="uk-logo uk-text-emphasis" href="/">
              {{site.title}}
            </a>
          </div>
          <div class="uk-position-top-right uk-padding-small">

            <div class="dark-light-switcher">

              <a id="DarkSwitch" class="darklight-switch uk-link-reset" {{dark_light_def.moon_link_show_hide}}>
                <i class="far fa-moon"></i>
              </a>

              <a id="LightSwitch" class="darklight-switch uk-link-reset" {{dark_light_def.sun_link_show_hide}}>
                <i class="fas fa-sun"></i>
              </a>

            </div>

          </div>
          <h1 class="leader-heading uk-heading-bullet">Hello, I am Robert</h1>
          <p class="leader-message uk-text-lead uk-text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <div class="leader-subscribe uk-margin-top">
            <div uk-form-custom="target: true">
              <input type="text" class="uk-input uk-form-width-medium uk-border-rounded" type="text" placeholder="Your email...">
            </div>
            <button class="uk-button uk-button-primary uk-border-rounded">Subscribe</button>
          </div>
          <div class="leader-contract uk-margin-top">
            <div class="uk-child-width-auto uk-text-emphasis" uk-grid>
              <div>
                <div class="uk-grid uk-grid-small uk-child-width-auto uk-grid-match uk-flex uk-flex-middle">
                  <div>
                    <i class="fab fa-github fa-lg"></i>
                  </div>
                  <div>
                    <a href="#" class="uk-link-reset">robmccormack89</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="uk-grid uk-grid-small uk-child-width-auto uk-grid-match uk-flex uk-flex-middle">
                  <div>
                    <i class="fas fa-envelope fa-lg"></i>
                  </div>
                  <div>
                    <a href="#" class="uk-link-reset">info@robertmccormack.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="Portfolio" class="uk-section-muted uk-padding-small uk-padding-remove-horizontal theme-border-bottom" hidden>
      <div class="uk-container uk-container-expand">
        <div uk-slider="velocity: 5">
          <div class="uk-position-relative">
            <div class="uk-slider-container">
              <ul class="uk-slider-items uk-child-width-1-3@m uk-grid uk-grid-small news-slide">
                <li>
                  <div class="uk-flex uk-flex-middle">
                    <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid>
                      <div class="uk-width-1-4@s uk-width-2-5@m">
                        <a class="uk-link-reset" href="#">
                          <img class="tease-feature-related" data-src="https://picsum.photos/600/400?random=11" alt="" data-width data-height uk-img>
                        </a>
                      </div>
                      <div class="uk-width-3-4@s uk-width-3-5@m">  
                        <span class="uk-label home-featured-label">Project</span>
                        <h3 class="uk-margin-small-top uk-margin-remove-bottom uk-h4">
                          <a class="uk-link-reset" href="#">Self-observation is the first step of inner unfolding</a>
                        </h3>
                        <span class="uk-article-meta">
                          Web Development
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-flex uk-flex-middle">
                    <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid>
                      <div class="uk-width-1-4@s uk-width-2-5@m">
                        <a class="uk-link-reset" href="#">
                          <img class="tease-feature-related" data-src="https://picsum.photos/600/400?random=12" alt="" data-width data-height uk-img>
                        </a>
                      </div>
                      <div class="uk-width-3-4@s uk-width-3-5@m">  
                        <span class="uk-label home-featured-label">Project</span>
                        <h3 class="uk-margin-small-top uk-margin-remove-bottom uk-h4">
                          <a class="uk-link-reset" href="#">Self-observation is the first step of inner unfolding</a>
                        </h3>
                        <span class="uk-article-meta">
                          Web Development
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-flex uk-flex-middle">
                    <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid>
                      <div class="uk-width-1-4@s uk-width-2-5@m">
                        <a class="uk-link-reset" href="#">
                          <img class="tease-feature-related" data-src="https://picsum.photos/600/400?random=13" alt="" data-width data-height uk-img>
                        </a>
                      </div>
                      <div class="uk-width-3-4@s uk-width-3-5@m">  
                        <span class="uk-label home-featured-label">Project</span>
                        <h3 class="uk-margin-small-top uk-margin-remove-bottom uk-h4">
                          <a class="uk-link-reset" href="#">Self-observation is the first step of inner unfolding</a>
                        </h3>
                        <span class="uk-article-meta">
                          Web Development
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-flex uk-flex-middle">
                    <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid>
                      <div class="uk-width-1-4@s uk-width-2-5@m">
                        <a class="uk-link-reset" href="#">
                          <img class="tease-feature-related" data-src="https://picsum.photos/600/400?random=14" alt="" data-width data-height uk-img>
                        </a>
                      </div>
                      <div class="uk-width-3-4@s uk-width-3-5@m">  
                        <span class="uk-label home-featured-label">Project</span>
                        <h3 class="uk-margin-small-top uk-margin-remove-bottom uk-h4">
                          <a class="uk-link-reset" href="#">Self-observation is the first step of inner unfolding</a>
                        </h3>
                        <span class="uk-article-meta">
                          Web Development
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="uk-visible@xl">
              <a class="uk-position-center-left-out uk-position-small uk-link-muted" href="#" uk-slider-item="previous"><i class="fas fa-chevron-left"></i></a>
              <a class="uk-position-center-right-out uk-position-small uk-link-muted" href="#" uk-slider-item="next"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="PostsGrid" class="uk-section theme-border-bottom">
      <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
          <div class="uk-width-2-3@m">  
            <div id="FeaturedPosts">
              <h2 class="uk-heading-bullet uk-margin-medium-bottom" style="line-height:0;">Featured Posts</h2>
              <div class="posts-list uk-child-width-1-1" uk-grid>
                <div class="tease-post">
                  <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
                    <div class="tease-image uk-width-1-3@m">
                      <a class="uk-link-reset" href="#">
                        <img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/500?random=1" width="500" height="500" alt="" uk-img>
                      </a>
                    </div>
                    <div class="tease-content uk-width-2-3@m">
                      <div class="tease-content-wrap">
                        <div class="tease-labels-meta uk-grid-small uk-grid-match uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
                          <div>
                            <a class="uk-link-reset" href="#"><span class="uk-label">Smalltown Gyspy Massacre</span></a>
                          </div>
                          <div>
                            <i title="Featured Article" class="fas fa-star featured-star"></i>
                          </div>
                        </div>
                        <a class="uk-link-reset" href="#"><h2 class="tease-title uk-margin-small-top">Self-observation is the first step of inner unfolding</h2></a>
                        <p class="tease-excerpt">Almost instantly the whole truth of the transaction seemed to rush upon her mind, and her wrath was inconceivably violent...</p>
                        <div class="tease-meta uk-text-meta">
                          <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                          <span class="read-time">3 min read</span>
                          <span class="visibility">Public</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tease-post">
                  <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
                    <div class="tease-image uk-width-1-3@m">
                      <a class="uk-link-reset" href="#"><img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/500?random=2" width="500" height="500" alt="" uk-img></a>
                    </div>
                    <div class="tease-content uk-width-2-3@m">
                      <div class="tease-content-wrap">
                        <div class="tease-labels-meta uk-grid-small uk-grid-match uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
                          <div>
                            <a class="uk-link-reset" href="#"><span class="uk-label" style="background-color:#e91e63;">Alf Ramsey's Porn Dungeon</span></a>
                          </div>
                          <div>
                            <i title="Featured Article" class="fas fa-star featured-star"></i>
                          </div>
                        </div>
                        <a class="uk-link-reset" href="#"><h2 class="tease-title uk-margin-small-top">The mind and body are not separate what affects one</h2></a>
                        <p class="tease-excerpt">Almost instantly the whole truth of the transaction seemed to rush upon her mind, and her wrath was inconceivably violent...</p>
                        <div class="tease-meta uk-text-meta">
                          <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                          <span class="read-time">3 min read</span>
                          <span class="visibility">Public</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="LatestPosts" class="uk-margin-medium-top">
              <div class="latest-posts">
                <h2 class="uk-heading-bullet uk-margin-medium-bottom">Latest Posts</h2>
                <div class="posts-list uk-child-width-1-1 uk-margin-medium-bottom" uk-grid>
                  <div class="tease-post">
                    <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
                      <div class="tease-image uk-width-1-3@m">
                        <a class="uk-link-reset" href="#"><img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/500?random=3" width="500" height="500" alt="" uk-img></a>
                      </div>
                      <div class="tease-content uk-width-2-3@m">
                        <div class="tease-content-wrap">
                          <div class="tease-labels-meta uk-grid-small uk-grid-match uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
                            <div>
                              <a class="uk-link-reset" href="#"><span class="uk-label" style="background-color:#4caf50;">Sinead O'Connor</span></a>
                            </div>
                          </div>
                          <a class="uk-link-reset" href="#"><h2 class="tease-title uk-margin-small-top">Autumn is a second spring when every leaf is a flower</h2></a>
                          <p class="tease-excerpt">Almost instantly the whole truth of the transaction seemed to rush upon her mind, and her wrath was inconceivably violent...</p>
                          <div class="tease-meta uk-text-meta">
                            <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                            <span class="read-time">3 min read</span>
                            <span class="visibility">Public</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tease-post">
                    <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
                      <div class="tease-image uk-width-1-3@m">
                        <a class="uk-link-reset" href="#"><img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/500?random=4" width="500" height="500" alt="" uk-img></a>
                      </div>
                      <div class="tease-content uk-width-2-3@m">
                        <div class="tease-content-wrap">
                          <div class="tease-labels-meta uk-grid-small uk-grid-match uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
                            <div>
                              <a class="uk-link-reset" href="#"><span class="uk-label" style="background-color:#ff5722;">Christ's Chin</span></a>
                            </div>
                          </div>
                          <a class="uk-link-reset" href="#"><h2 class="tease-title uk-margin-small-top">Never let your memories be greater than your dreams</h2></a>
                          <p class="tease-excerpt">Almost instantly the whole truth of the transaction seemed to rush upon her mind, and her wrath was inconceivably violent...</p>
                          <div class="tease-meta uk-text-meta">
                            <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                            <span class="read-time">3 min read</span>
                            <span class="visibility">Public</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tease-post">
                    <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
                      <div class="tease-image uk-width-1-3@m">
                        <a class="uk-link-reset" href="#"><img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/500?random=6" width="500" height="500" alt="" uk-img></a>
                      </div>
                      <div class="tease-content uk-width-2-3@m">
                        <div class="tease-content-wrap">
                          <div class="tease-labels-meta uk-grid-small uk-grid-match uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
                            <div>
                              <a class="uk-link-reset" href="#"><span class="uk-label" style="background-color:#673ab7;">Astonishing Bum Queen</span></a>
                            </div>
                          </div>
                          <a class="uk-link-reset" href="#"><h2 class="tease-title uk-margin-small-top">Dramatically improve your cooking</h2></a>
                          <p class="tease-excerpt">Almost instantly the whole truth of the transaction seemed to rush upon her mind, and her wrath was inconceivably violent...</p>
                          <div class="tease-meta uk-text-meta">
                            <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                            <span class="read-time">3 min read</span>
                            <span class="visibility">Public</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-flex uk-flex-center">
                  <a class="uk-button uk-button-default uk-border-rounded uk-text-capitalize">View more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <!-- <h4 class="uk-heading-bullet">Testimonials</h4>
            <div class="uk-tile uk-tile-muted uk-tile-small uk-border-rounded uk-box-shadow-medium uk-box-shadow-hover-large">
              <blockquote cite="#">
                <p class="uk-margin-small-bottom">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
                <footer>Someone famous in <cite><a href="#">Source Title</a></cite></footer>
              </blockquote>
            </div> -->
            <h4 class="uk-heading-bullet">Recent Projects</h4>
            <div class="uk-child-width-1-1 uk-grid-small uk-margin-bottom" uk-grid>
              <div class="tease-post">
                <div class="">
                  <div class="uk-grid-match uk-grid-small uk-flex uk-flex-middle" uk-grid>
                    <div class="tease-image uk-width-1-3">
                      <a class="uk-link-reset" href="#">
                        <img class="uk-border-rounded" data-src="https://picsum.photos/300/300?random=20" width="300" height="300" alt="" uk-img>
                      </a>
                    </div>
                    <div class="tease-content uk-width-2-3">
                      <div class="tease-content-wrap">
                        <span class="uk-label uk-margin-vsmall-bottom">Wordpress</span>
                        <a class="uk-link-reset" href="#">
                          <h4 class="tease-title uk-margin-remove">Website developed for ThisCompany.ie</h4>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tease-post">
                <div class="">
                  <div class="uk-grid-match uk-grid-small uk-flex uk-flex-middle" uk-grid>
                    <div class="tease-image uk-width-1-3">
                      <a class="uk-link-reset" href="#">
                        <img class="uk-border-rounded" data-src="https://picsum.photos/300/300?random=21" width="300" height="300" alt="" uk-img>
                      </a>
                    </div>
                    <div class="tease-content uk-width-2-3">
                      <div class="tease-content-wrap">
                        <span class="uk-label uk-margin-vsmall-bottom" style="background-color:#ff5722;">Codeigniter</span>
                        <a class="uk-link-reset" href="#">
                          <h4 class="tease-title uk-margin-remove">App developed for SomeTeam.com</h4>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tease-post">
                <div class="">
                  <div class="uk-grid-match uk-grid-small uk-flex uk-flex-middle" uk-grid>
                    <div class="tease-image uk-width-1-3">
                      <a class="uk-link-reset" href="#">
                        <img class="uk-border-rounded" data-src="https://picsum.photos/300/300?random=22" width="300" height="300" alt="" uk-img>
                      </a>
                    </div>
                    <div class="tease-content uk-width-2-3">
                      <div class="tease-content-wrap">
                        <span class="uk-label uk-margin-vsmall-bottom">Wordpress</span>
                        <a class="uk-link-reset" href="#">
                          <h4 class="tease-title uk-margin-remove">Website developed for HelloThere.ie</h4>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-flex uk-flex-center">
              <a class="uk-button uk-button-default uk-button-small uk-border-rounded uk-text-capitalize">View all</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="Elements" class="post-content uk-section uk-container uk-container-xsmall" hidden>
        
      <!-- text & headings -->
      <div class="">
        <h2 class="uk-heading-bullet">Text & Headings</h2>
        {% include 'text.twig' %}
      </div>
      
      <!-- quote -->
      <div>
        <h2 class="uk-heading-bullet">Quotes</h2>
        {% include 'blockquote.twig' %}
      </div>
      
      <!-- gallery -->
      <div>
        <h2 class="uk-heading-bullet">Galleries with Lightbox</h2>
        {% include 'gallery-card.twig' %}
      </div>
      
      <!-- bookmark cards -->
      <div>
        <h2 class="uk-heading-bullet">Bookmark Cards</h2>
        {% include 'bookmark-card.twig' %}
      </div>
      
      <!-- code/syntax -->
      <div>
        <h2 class="uk-heading-bullet">Code Syntax highlighting</h2>
        {% include 'code.twig' %}
      </div>
      
      <!-- images with container widths -->
      <div>
        <h2 class="uk-heading-bullet">Images</h2>
        {% include 'image.twig' %}
        {% include 'images-wide.twig' %}
      </div>
        
      <!-- lists -->
      <div>
        <h2 class="uk-heading-bullet">Lists</h2>
        <p>See <a href="https://getuikit.com/docs/list" target="_blank">uikit/list</a> for more info</p>
        {% include 'lists.twig' %}
      </div>
      
      <!-- tables -->
      <div>
        <h2 class="uk-heading-bullet">Tables</h2>
        <p>See <a href="https://getuikit.com/docs/table" target="_blank">uikit/table</a> for more info</p>
        {% include 'tables.twig' %}
      </div>
      
      <!-- videos -->
      <div>
        <h2 class="uk-heading-bullet">Video embeds</h2>
        {% include 'video-embeds.twig' %}
      </div>
      
      <!-- tweet -->
      <div hidden>
        <h2 class="uk-heading-bullet">Tweet cards</h2>
        {% include 'tweet-card.twig' %}
      </div>
      
      <hr class="uk-divider-small uk-text-center" hidden>
      
      <!-- end -->
      <div hidden>
        <hr>
        <p>Thanks for reading. <a href="#">Have you seen what feature this theme have?</a></p>
      </div>

    </section>
    
  </div>
{% endblock %}

{% block footer %}
  <footer id="Footer" class="uk-section uk-section uk-section-small">
    <div class="uk-container uk-text-center uk-text-emphasis">
      © 2021 <span class="">{{site.title}}</span> - All right Reserved. <a class="uk-link-reset" href="#"> Find me on Github <i class="fab fa-github"></i></a>
    </div>
  </footer>
{% endblock %}

{% block scripts %}
  <!-- prism-related scripts; used for code syntax highlighting -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="/public/js/prism-markup.min.js"></script>
  <script src="/public/js/prism-linenumbers.js"></script>
  <script src="/public/js/prism-normalize-whitespace.min.js"></script>
  <!-- normalize-whitespace init -->
  <script type="text/javascript">
    // Optional
    Prism.plugins.NormalizeWhitespace.setDefaults({
    	'remove-trailing': true,
    	'remove-indent': true,
    	'left-trim': true,
    	'right-trim': true,
    });
  </script>
  <script src="/public/js/prism-toolbar.min.js"></script>
  <script src="/public/js/prism-copy-to-clipboard.min.js"></script>
  <!-- add uikit button classes to copy to clipboard buttons -->
  <!-- <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var divs = document.getElementsByClassName("copy-to-clipboard-button");
      for (let i = 0; i < divs.length; i++) {
        var div = divs[i];
        // console.log(div)
        div.classList.add('uk-button');
        div.classList.add('uk-button-default');
        div.classList.add('uk-button-small');
      }
    })
  </script> -->
{% endblock %}