{% extends "base.twig" %}

{% block content %}
  <div class="uk-section uk-container" data-template="404.twig">
    <div class="uk-grid-large uk-grid" uk-grid="">

      <section class="left-section uk-width-2-3@m uk-first-column">
        <article class="uk-article">

          <header class="article-header">
            <h1 class="uk-article-title">Nothing here..</h1>
          </header>

          <div class="page-content uk-margin-medium-bottom">
            <p class="">Oops, there is nothing to be found here.</p>
            <a href="/" class="uk-button uk-button-small uk-button-default uk-margin-top">Back to Homepage</a>
          </div>

        </article>
      </section>

      {% include 'sidebar.twig' %}

    </div>
  </div>
{% endblock %}

