{% extends "base.twig" %}

{% block content %}

<div data-template="homepage.twig">

  <section class="home-more uk-section uk-section-small home-posts-section">
    <div class="uk-container">
      Homepage
    </div>
  </section>

</div>

{% endblock %}