{% extends "single.twig" %}

{% block styles %}
  {{parent()}}
  <style>
    .uk-light .uk-button-tertiary {
      background-color: #1a191d; 
    }
  </style>
{% endblock %}

{% block header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent uk-light; top: 200">
      {% include 'main-navbar.twig' %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <section id="PersonalLeader" class="uk-background-primary uk-light">
    <div class="uk-container">
      <div class="leader-height uk-width-1-1 uk-inline">
        <div class="uk-position-center-left">
          <div class="bg-text">
            <p>&nbsp;&nbsp;strategy &amp;<br>
            design<br>
            progress.</p>
          </div>
          <div class="leader-text">
            <p class="leader-meta uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Full-stack Web Developer</p>
            <h1 class="leader-heading uk-heading-large uk-margin-remove-top">
              Hello. I'm<br>
              Robert McCormack.<br>
              I 
              <a href="" class="typewrite uk-link-reset uk-text-bold" data-period="2000" data-type='[ "am Creative.", "Love Design.", "Love to Develop." ]'>
                <span class="wrap"></span>
              </a>
            </h1>
            <a href="#Services" class="leader-link uk-text-uppercase uk-text-bold uk-button uk-button-text" uk-scroll="offset: 150">Read more about what I do <i class="fas fa-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Services" class="uk-background-muted">
    <div class="uk-section uk-container">
      <div class="uk-child-width-1-3@m uk-grid" uk-grid>
        <div class="services-item">
          <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
            <img src="https://source.unsplash.com/600x400/?computer,web,design" class="uk-border-rounded" alt="">
            <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
            <div class="uk-padding-small uk-position-bottom uk-light">
              <h3 class="uk-h4 uk-margin-small-bottom">Design & Development</h3>
              <p class="uk-text-small uk-margin-remove">User & mobile-friendly web apps across mutiple platforms including Wordpress, Shopify, Drupal & more</p>
            </div>
          </a>
        </div>
        <div class="services-item">
          <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
            <img src="https://source.unsplash.com/600x400/?ecommerce" class="uk-border-rounded" alt="">
            <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
            <div class="uk-padding-small uk-position-bottom uk-light">
              <h3 class="uk-h4 uk-margin-small-bottom">Ecommerce solutions</h3>
              <p class="uk-text-small uk-margin-remove">Integration of Ecommerce platforms, payment gateways, custom product templates & more</p>
            </div>
          </a>
        </div>
        <div class="services-item">
          <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
            <img src="https://source.unsplash.com/600x400/?map" class="uk-border-rounded" alt="">
            <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
            <div class="uk-padding-small uk-position-bottom uk-light">
              <h3 class="uk-h4 uk-margin-small-bottom">Search Engine Optimization</h3>
              <p class="uk-text-small uk-margin-remove">Having trouble getting your website found on Google? You've come to the right place</p>
            </div>
          </a>
        </div>
        <div class="services-item uk-width-1-2@m">
          <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
            <img src="https://source.unsplash.com/630x300/?wordpress" class="uk-border-rounded" alt="">
            <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
            <div class="uk-padding-small uk-position-bottom uk-light">
              <h3 class="uk-h4 uk-margin-small-bottom">Custom Wordpress Themes & Plugins</h3>
              <p class="uk-text-small uk-margin-remove">I love Wordpress. I provide custom Themes & Plugins for both Wordpress & Woocommerce.</p>
            </div>
          </a>
        </div>
        <div class="services-item uk-width-1-2@m">
          <a href="#" class="hover-colour-wrap uk-inline uk-link-reset">
            <img src="https://source.unsplash.com/630x300/?code" class="uk-border-rounded" alt="">
            <div class="uk-overlay-primary uk-position-cover uk-border-rounded"></div>
            <div class="uk-padding-small uk-position-bottom uk-light">
              <h3 class="uk-h4 uk-margin-small-bottom">Performance Optimization & Accessibility Testing</h3>
              <p class="uk-text-small uk-margin-remove">Having trouble getting your website to perform properly? Can't get it to load quick enought? Losing potential customers? I can help</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="About" class="uk-section uk-background-default">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
        <div>
          <p class="uk-text-bold uk-text-uppercase">About me</p>
          <hr>
          <h2 class="uk-margin-remove-top uk-h1">I develop mobile-friendly & cross-platform web applications.</h2>
        </div>
        <div>
          <p class="">While my focus is mobile-first responsive websites with HTML, JavaScript, Twig, SCSS, PHP & MySQL (often on top of WordPress or Codeigniter), I also do bash scripting & linux server administration. I am very well versed in popular templating languages like Twig (Symfony, Drupal) & Liquid (Shopify) &  see my best role as a system-agnostic, full-stack developer. </p>
          <a href="/about" class="uk-text-uppercase uk-text-bold uk-button uk-button-text">More about me <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section id="Work">
    <div class="uk-grid-collapse uk-child-width-1-4@m" uk-grid>
      <div class="work-item">
        <a href="#" class="uk-inline uk-link-reset hover-grow-wrap uk-width-1-1">
          <img src="https://source.unsplash.com/600x600/?strategy" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-padding uk-position-top uk-light">
            <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Strategy</p>
            <h3 class="uk-h2 uk-margin-remove">Brand Strategy & Art Direction</h3>
          </div>
          <div class="uk-padding uk-position-bottom uk-light">
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="work-item">
        <a href="#" class="uk-inline uk-link-reset hover-grow-wrap uk-width-1-1">
          <img src="https://source.unsplash.com/600x600/?design" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-padding uk-position-top uk-light">
            <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Design</p>
            <h3 class="uk-h2 uk-margin-remove">UX/UI Design & Website/App Development</h3>
          </div>
          <div class="uk-padding uk-position-bottom uk-light">
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="work-item">
        <a href="#" class="uk-inline uk-link-reset hover-grow-wrap uk-width-1-1">
          <img src="https://source.unsplash.com/600x600/?production" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-padding uk-position-top uk-light">
            <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Production</p>
            <h3 class="uk-h2 uk-margin-remove">Typography & Video Production</h3>
          </div>
          <div class="uk-padding uk-position-bottom uk-light">
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
      <div class="work-item">
        <a href="#" class="uk-inline uk-link-reset hover-grow-wrap uk-width-1-1">
          <img src="https://source.unsplash.com/600x600/?marketing" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-padding uk-position-top uk-light">
            <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Campaigns</p>
            <h3 class="uk-h2 uk-margin-remove">Marketing Campaigns & Content Creation</h3>
          </div>
          <div class="uk-padding uk-position-bottom uk-light">
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id="Message" class="uk-section uk-background-default">
    <div class="uk-container">
      <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">My offer</p>
      <h2 class="uk-h1 uk-margin-remove">What can I bring<br>to your business?</h2>
    </div>
  </section>
  <section id="CTA" class="uk-background-default">
    <div class="uk-grid-collapse" uk-grid>
      <div class="uk-background-cover uk-height-large uk-width-3-5@m" style="background-image: url(https://source.unsplash.com/1141x800/?business,handshake,success);"></div>
      <div class="uk-background-primary uk-light uk-width-2-5@m">
        <div class="uk-padding-large uk-width-3-4@m">
          <h3 class="uk-h1">Use this section to speak directly to the actual jobs you are applying for!</h3>
          <ul class="uk-margin-medium-top" uk-accordion="collapsible: false">
            <li>
              <a class="uk-accordion-title uk-text-bold" href="#">A reason to hire me</a>
              <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-bold" href="#">Another reason to hire me</a>
              <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-bold" href="#">Yet another reason to hire me</a>
              <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-bold" href="#">A final reason to hire me</a>
              <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <!-- typewriting animation -->
  <script>
    var TxtType = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };
    TxtType.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
      }

      setTimeout(function() {
      that.tick();
      }, delta);
    };
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-type');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 12px solid #fff}";
    document.body.appendChild(css);
  </script>
{% endblock %}