{% extends "single.twig" %}

{% block seo_meta %}
  <title>This is the Homepage</title>
{% endblock %}

{% block header %}
  {% include 'header.twig' %}
{% endblock %}

{% block content %}
  <div class="uk-container uk-section">
    This is the Homepage
  </div>
{% endblock %}

{% block footer %}
  {% include 'footer.twig' %}
{% endblock %}